.puzzle {
  width: 30px;
  height: 30px;
  color: green;
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.box {
  width: 100%;
  border: black solid 2px;
}
.grid {
    margin: 0 auto;
    width: 700px;
    display: flex;
}
.one {
    background-color: rgb(0, 187, 0);
}
.two {
    background-color: rgb(0, 255, 149);
}
.three {
    background-color: rgb(0, 255, 234);
}
.four {
    background-color: rgb(0, 168, 190);
}
.five {
    background-color: rgb(0, 95, 219);
}
.six {
    background-color: rgb(0, 31, 207);
}
.seven {
    background-color: rgb(88, 0, 202);
}