<div class="grid" cdkDropListGroup>
    <div class="box" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="puzzle one" cdkDrag></div>
        <div class="puzzle two" cdkDrag></div>
        <div class="puzzle three" cdkDrag></div>
        <div class="puzzle four" cdkDrag></div>
    </div>
    <div class="box" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="puzzle two" cdkDrag></div>
        <div class="puzzle three" cdkDrag></div>
        <div class="puzzle four" cdkDrag></div>
        <div class="puzzle five" cdkDrag></div>
    </div>
    <div class="box" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="puzzle three" cdkDrag></div>
        <div class="puzzle four" cdkDrag></div>
        <div class="puzzle five" cdkDrag></div>
        <div class="puzzle six" cdkDrag></div>
    </div>
    <div class="box" cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="puzzle four" cdkDrag></div>
        <div class="puzzle five" cdkDrag></div>
        <div class="puzzle six" cdkDrag></div>
        <div class="puzzle seven" cdkDrag></div>
    </div>
</div>