.puzzle {
  width: 30px;
  height: 30px;
  color: green;
  width: 200px;
  height: 200px;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;
}
.box {
  border: none;
}
.grid {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.one {
    background-image: linear-gradient(135deg, rgb(144,144,144), rgb(126,126,126), rgb(108,108,108));
}
.two {
    background-image: linear-gradient(135deg, rgb(126,126,126), rgb(108,108,108),rgb(90,90,90));
}
.three {
    background-image: linear-gradient(135deg, rgb(108,108,108),rgb(90,90,90), rgb(72,72,72));
}
.four {
    background-image: linear-gradient(135deg, rgb(90,90,90), rgb(72,72,72), rgb(54,54,54));
}
.five {
    background-image: linear-gradient(135deg, rgb(72,72,72), rgb(54,54,54), rgb(36,36,36));
}
.six {
    background-image: linear-gradient(135deg, rgb(54,54,54), rgb(36,36,36), rgb(18,18,18));
}
.seven {
    background-image: linear-gradient(135deg, rgb(36, 36, 36), rgb(18, 18, 18), black);
}